{% extends "base.html.twig" %}

{% block content %}
    <div class="page-title">
        <h3> User List </h3>
    </div>
    <div class="add-button">
        <a href="/users/add"> <button>Add New User</button> </a>
    </div>
    <div class="clearfix"></div>
    <hr>

    {% if userList|length > 0 %}
    <table>
        <tr>
            <th> #
            <th> Username
            <th> Name
            <th> Status
            <th> Created By
            <th> Last Login
            <th> Actions
        </tr>
        {% set inc = 1 %}
        {% for user in userList %}
        <tr>
            <td> {{ inc }}
            <td> {{ user.username }}
            <td> {{ user.firstName }} {{ user.lastName }}
            <td> {{ user.statusName|capitalize }}
            <td> {{ user.createdByUsername }}
            <td> {{ user.lastLogin }}
            <td>
                {% set activateClass = 'activate' %}
                {% if user.statusCode == 'ACT' %}
                    {% set activateClass = 'deactivate' %}
                {% endif %}

                <a href="users/edit/{{ user.userId }}">
                    <div class="action-icon edit"></div>
                </a>
                <a href="users/{{ activateClass }}/{{ user.userId }}">
                    <div class="action-icon {{ activateClass }}"></div>
                </a>
            </td>
        </tr>
        {% set inc = inc + 1 %}
        {% endfor %}
    </table>
    {% else %}
    No results found.
    {% endif %}
{% endblock %}
